{% load i18n pages_tags %}

{% spaceless %}


<footer class="overfooter">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 col-sm-6 col-xs-12 widget">
                <h3 class="widget-title"><i class="fa fa-phone  "></i>        Contato</h3>
                    <div class="widget-body">
                        <p>+55 61 4444-4444<br>
                            <a href="mailto:#">orcamentoedemocracia@gmail.com</a><br>
                            <br>
                            Universidade de Brasília, Distrito Federal, CEP 37015
                        </p>    
                        <!-- /row of widgets -->
                    </div>      
            </div>


                <div class="col-md-4 col-sm-6 col-xs-12 widget">
                    <h3 class="widget-title "><i class="fa fa-hashtag"></i>
                        Siga-nos</h3>
                        <div class="widget-body ">
                            <p class="follow-me-icons ">
                                <a href=""><i class="fa fa-facebook fa-3x"></i></a>
                                <a href=""><i class="fa fa-twitter fa-3x"></i></a>
                                <a href=""><i class="fa fa-youtube fa-3x"></i></a>
                                <a href=""><i class="fa fa-rss fa-3x"></i></a>
                            </p>
                            <br/>
                        </div>
                    </div>

                    <!-- /row of widgets -->

                    <div class="col-md-4  col-xs-12 widget">
                        <h3 class="widget-title "><i class="fa fa-user"></i> Sobre</h3>
                        <div class="widget-body">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
                        </div>
                    </div>



                </div> <!-- /row of widgets -->
            </div>
        </footer>

{% endspaceless %}




